<ul class="compass">
  <i class="fa fa-question"></i>
  <li>1) Click on a branch to navigate further in the tree</li>
  <li>2) Hover over a branch to see the story up until that point in the panel to the right</li>
  <li>3) When navigating the tree you can always go back or reset using the top two black nodes</li>
</ul>  
