body {
  padding-top: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
  font-weight: 300;
}


nav {
  margin-bottom: 40px;
  background: white !important;
  height: 80px;
  padding-top: 10px;

  #logo {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: rgba(16,4,71,1);
  }
  
  .dropdown-menu {
    a.navbar-link:hover {
      border-bottom: none;
    }
  }

  li {
    display: block;
    padding-top: 5px;
  
    a.navbar-link:hover {
      border-bottom: 2px solid rgba(16,4,71,1);
    }
  }

  p {
    padding-top: 5px;
  }
}

.tree-wrapper {
  max-width: 800px;
  margin: auto;
  width: 100%;

  small {
    font-family: arial;
    font-size: 15px;
    vertical-align: middle;
  }

  .tree {
    padding: 20px;
  
    &:hover {
      background: rgba(16,4,71,.05);
    }

    h3 {
      margin-top: 0px;
      padding-bottom: 5px;
      border-bottom: 1px solid #f7f7f7;
    }

    span {
      font-style: italic;
      font-size: 12px;
      float: right;
      margin-top: 14px;
      color: #ccc;
    }
  }
}

// #wrapper {
//   overflow-x:hidden;
//   position: relative;
//   min-height: 400px;
// }

.note {
  position: absolute; 
  top: 5px;
  z-index: 1000000;
  left: 50%;
  padding: 10px;
  border-radius: 5px;
  background: rgba(34,181,34,.3);
}


.push-nav {
  height: 53px;
  width: 100%;
}

nav {
  .glyphicon {
    float: left;
    font-size: 2em;
    margin-top: 10px;
    margin-left: 5px;
    margin-left: 20px;
    color: white;
    text-shadow: 0px -1px 0px #374683;
  }




  ul

  .dropdown-menu li a {
    color: #012530 !important;
  }  
}

.container {
  margin-top: 40px;
  width: 100% !important;
}

.content {
  margin: auto;
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;
  margin-top: 100px;


}

.btn.btn-success {
    background: none !important;
    border: 1px solid rgba(16,4,71,1) !important;
    color: rgba(16,4,71,1) !important;

    &:hover {
      background: rgba(16,4,71,1) !important;
      color: white !important;
    } 

    &:active {
      background: rgba(16,4,71,.7) !important;
      color: white !important;
    } 
  }
footer {
  width: 100%;
  background: #100447 !important;
  height: 50px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-left: 20px;
  color: white;
  padding-top: 15px;

  a {
    color: white; 

    &:hover {
      color: white;
    }
  }
}
