// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headshot-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  text-align: center;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  .person {
  display: inline-block;
  text-align: center;
  margin-right: 100px;  
  p {
    font-size: 1.5em;
    i {
      padding: 0px 5px 0px 0px;
    }
  }
  }
}


.headshot {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
  img {
    width: 200px;
  }
}